* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    min-height: 100vh;
    width: 80vw;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .player-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .player-info > svg {
    width: 100px;
    height: 100px;
}

.header #player1 > svg {
    fill: green;
}

.header #player2 > svg {
    fill: red;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-container {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.board-cell {
    outline: 1px solid black;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.board-cell > svg[class="X"] {
    fill: red;
}


.board-cell > svg[class="O"] {
    fill: green;
}

.dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 130, 173, 0.4);
}

.player-name-dialog {
    width: 35vw;
    height: 42vh;
    background-color: #7FA1C3;
    padding: 1.5rem;
    border-radius: 8px;
}

.player-name-dialog > .form {
    height: 100%;
    line-height: 65px;
}

.player-name-dialog > .form > .input-field {
    position: relative;
    height: 65px;
    margin: 25px 0;
    margin-bottom: 2.8rem;
}

.player-name-dialog > .form > .input-field > input {
    position: absolute;
    width: 80%;
    outline: none;
    font-size: 2.2rem;
    padding: 0 30px;
    line-height: 65px;
    border-radius: 10px;
    border: 2px solid #E2DAD6;
    background: transparent;
    transition: 0.2s ease;
    z-index: 1111;
}

.player-name-dialog > .form > .input-field > .lableline {
    position: absolute;
    font-size: 1.6rem;
    color: #E2DAD6;
    padding: 0 25px;
    margin: 0 20px;
    background-color: #7FA1C3;
    transition: 0.2s ease;
}

.player-name-dialog > .form > .input-field > input:focus,
.player-name-dialog > .form > .input-field > input:valid {
    color: #F5EDED;
    border: 4px solid #F5EDED;
}

.player-name-dialog > .form > .input-field > input:invalid {
    border: 4px solid #fb4e4e;
}

.player-name-dialog > .form > .input-field > input:focus + .lableline,
.player-name-dialog > .form > .input-field > input:valid + .lableline {
    color: #F5EDED;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-15px, -16px) scale(0.88);
    z-index: 1111;
}

.submit-btn {
    width: 100%;
}

.submit-btn button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    background-color: #E2DAD6;
    cursor: pointer;
}

.submit-btn button:hover {
    background-color: #efd1c0;
}

.end-game-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: auto;
    padding: 1.2rem;
    background-color: #7FA1C3;
}

.end-game-dialog > * {
    margin: 0.5rem;
}

.hidden {
    display: none;
}